@keyframes intercom-lightweight-app-launcher {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes intercom-lightweight-app-gradient {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes intercom-lightweight-app-messenger {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .intercom-lightweight-app {
    position: fixed;
    z-index: 2147483001;
    width: 0;
    height: 0;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
  }

  .intercom-lightweight-app-gradient {
    position: fixed;
    z-index: 2147483002;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: radial-gradient(
      ellipse at bottom right,
      rgba(29, 39, 54, 0.16) 0%,
      rgba(29, 39, 54, 0) 72%);
    animation: intercom-lightweight-app-gradient 200ms ease-out;
  }

  .intercom-lightweight-app-launcher {
    position: fixed;
    z-index: 2147483003;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #403f4c;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
    animation: intercom-lightweight-app-launcher 250ms ease;
  }

  .intercom-lightweight-app-launcher:focus {
    outline: none;
    
  }

  .intercom-lightweight-app-launcher-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    transition: transform 100ms linear, opacity 80ms linear;
  }

  .intercom-lightweight-app-launcher-icon-open {
    
        opacity: 1;
        transform: rotate(0deg) scale(1);
      
  }

  .intercom-lightweight-app-launcher-icon-open svg {
    width: 28px;
    height: 32px;
  }

  .intercom-lightweight-app-launcher-icon-open svg path {
    fill: rgb(255, 255, 255);
  }

  .intercom-lightweight-app-launcher-icon-self-serve {
    
        opacity: 1;
        transform: rotate(0deg) scale(1);
      
  }

  .intercom-lightweight-app-launcher-icon-self-serve svg {
    height: 56px;
  }

  .intercom-lightweight-app-launcher-icon-self-serve svg path {
    fill: rgb(255, 255, 255);
  }

  .intercom-lightweight-app-launcher-custom-icon-open {
    max-height: 36px;
    max-width: 36px;
    
        opacity: 1;
        transform: rotate(0deg) scale(1);
      
  }

  .intercom-lightweight-app-launcher-icon-minimize {
    
        opacity: 0;
        transform: rotate(-60deg) scale(0);
      
  }

  .intercom-lightweight-app-launcher-icon-minimize svg {
    width: 16px;
  }

  .intercom-lightweight-app-launcher-icon-minimize svg path {
    fill: rgb(255, 255, 255);
  }

  .intercom-lightweight-app-messenger {
    position: fixed;
    z-index: 2147483003;
    overflow: hidden;
    background-color: white;
    animation: intercom-lightweight-app-messenger 250ms ease-out;
    
        width: 376px;
        height: calc(100% - 40px);
        max-height: 704px;
        min-height: 250px;
        right: 20px;
        bottom: 20px;
        box-shadow: 0 5px 40px rgba(0,0,0,0.16);
        border-radius: 8px;
      
  }

  .intercom-lightweight-app-messenger-header {
    height: 75px;
    background: linear-gradient(
      135deg,
      rgb(28, 29, 35) 0%,
      rgb(0, 0, 0) 100%
    );
  }

  @media print {
    .intercom-lightweight-app {
      display: none;
    }
  }
  .ghCdOs {
    display: grid;
    grid-template:
        "Header" auto
        "Main" 1fr
        "Footer" auto / 100%;
    height: 100%;
}
.dMYXrw {
    grid-area: Sidebar / Sidebar / Sidebar / Sidebar;
    z-index: 1;
    transition: opacity 0.2s ease 0s;
    display: flex;
    border-right: solid 1px var(--color-border-grey);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.jygePj {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    height: 28px;
    min-height: 28px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 24px;
    padding: 0px 10px;
    --button-active-background-color: var(--color-layer-dark);
    background-color: var(--button-active-background-color,var(--color-layer-light));
    color: var(--button-active-text-color,var(--color-text-light));
}
.dVRMhB {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    border-right: 1px solid var(--color-border-grey);
    padding-right: 10px;
    margin-right: 10px;
}
.gHEtUc {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 360px;
}
.jrtJct {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    min-height: 36px;
    border-radius: 8px;
    padding: 0px 16px;
    --button-background-color: var(--color-purple);
    --button-active-background-color: rgba(89,115,254,0.8);
    --button-text-color: var(--color-text-light);
}
.jvuCRv {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    height: 32px;
    min-height: 32px;
    border-radius: 8px;
    padding: 0px 16px;
    --button-background-color: var(--color-purple);
    --button-active-background-color: rgba(89,115,254,0.8);
    --button-text-color: var(--color-text-light);
}
.gFvGEJ {
    user-select: none;
    display: grid;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 12px;
    margin-right: 3px;
    transition: all 0.15s ease-in-out 0s !important;
}
.gFvGEJ > svg {
    width: 8px;
    margin-left: 6px;
    margin-top: 1px;
}
.gFvGEJ svg, .gFvGEJ svg * {
    transition: all 0.15s ease-in-out 0s !important;
}
.gFvGEJ > svg path {
    fill: var(--color-text-dark);
}
.gFvGEJ svg, .gFvGEJ svg * {
    transition: all 0.15s ease-in-out 0s !important;
}
.oxVOu {
    grid-area: NavMoreLinks / NavMoreLinks / NavMoreLinks / NavMoreLinks;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: var(--page-header-height);
}
@media (max-width: 1604px){
.gyPagG {
    padding-left: 24px;
    padding-right: 24px;
}}
.gyPagG {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 16px;
    max-width: calc(var(--page-content-max-width) + var(--sidebar-width));
    gap: 1em;
}
@media (min-width: 1025px){
.zRuTu {
    padding-right: 20px;
}}
.eXirsP {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    color: var(--color-text-light);
    white-space: nowrap;
    overflow: auto;
}
.iNWOJK {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-dark);
    margin-top: 4px;
}
.efTTFJ {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    height: 28px;
    min-height: 28px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 24px;
    padding: 0px 10px;
    --button-active-background-color: var(--color-layer-dark);
}
@media (max-width: 1604px){
.cupnFE {
    padding-left: 24px;
    padding-right: 24px;
}}
.cupnFE {
    padding: 8px 0px 32px;
    display: flex;
    flex-direction: row;
}
.cupnFE .sc-jQAxuV:first-child {
    padding-left: 16px;
}
.cupnFE .sc-jQAxuV {
    flex: 1 1 0%;
    max-width: 280px;
}
.hsWAsh:not(:last-child) {
    border-right: 1px solid var(--color-border-grey);
}
.hsWAsh {
    font-size: 28px;
    line-height: 32px;
    color: var(--color-text-light);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 28px;
    flex-direction: column;
}
@media (max-width: 1604px){
.cupnFE .sc-jQAxuV:first-child {
    padding-left: 0px;
}}
.eQUdeu {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-dark);
    margin-bottom: 16px;
}
.eSyZIh {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-dark);
    margin-top: 4px;
}

@media (max-width: 1604px){
.cupnFE .sc-jQAxuV:first-child {
    padding-left: 0px;
}}
.cupnFE .sc-jQAxuV:first-child {
    padding-left: 16px;
}
.cupnFE .sc-jQAxuV {
    flex: 1 1 0%;
    max-width: 280px;
}
.hsWAsh:not(:last-child) {
    border-right: 1px solid var(--color-border-grey);
}
.hsWAsh {
    font-size: 28px;
    line-height: 32px;
    color: var(--color-text-light);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 28px;
    flex-direction: column;
}
.cupnFE .sc-jQAxuV {
    flex: 1 1 0%;
    max-width: 280px;
}
.hsWAsh:not(:last-child) {
    border-right: 1px solid var(--color-border-grey);
}
.hsWAsh {
    font-size: 28px;
    line-height: 32px;
    color: var(--color-text-light);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 28px;
    flex-direction: column;
}
.eQUdeu {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-dark);
    margin-bottom: 16px;
}
.cHQuCr {
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-dark);
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
}
@media (max-width: 1024px){
.bRzrLL .sc-jQAxuV:first-child {
    padding-left: 20px;
}}
.hsWAsh:not(:last-child) {
    border-right: 1px solid var(--color-border-grey);
}
@media (max-width: 414px){
.hsWAsh {
    flex: 0 1 auto;
}}
@media (max-width: 768px){
.hsWAsh {
    padding: 0px 20px;
    flex: 1 1 196px;
    max-width: 196px;
}}
@media (max-width: 1024px){
.hsWAsh {
    font-size: 24px;
    line-height: 30px;
    max-width: 220px;
    flex: 1 1 220px;
}}
.hsWAsh {
    font-size: 28px;
    line-height: 32px;
    color: var(--color-text-light);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 28px;
    flex-direction: column;
}
.bRzrLL {
    display: flex;
    margin-bottom: 24px;
}
@media (max-width: 1604px){
.gyPagG {
    padding-left: 20px;
    padding-right: 20px;
}}
@media (max-width: 1024px){
.gyPagG {
    padding-left: 20px;
    padding-right: 20px;
}}
@media(max-width: 768px){
    .gHEtUc {
    width: 100%;
    margin: 24px 0px;
    padding: 0px 16px;
}}
.illmTA {
    width: 22px;
    height: 22px;
}
.krkYvd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
@media (max-width: 1604px){
.gyPagG {
    padding-left: 24px;
    padding-right: 24px;
}}
@media (max-width: 1336px){
.bLeETg {
    padding-left: 24px;
    padding-right: 24px;
}}
.dGJRan {
    grid-area: Main / Main / Main / Main;
    min-height: 0px;
    display: flex;
}
.hWQLoI {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    height: 32px;
    min-height: 32px;
    border-radius: 8px;
    padding: 0px 16px;
    --button-background-color: var(--color-purple);
    --button-active-background-color: rgba(89,115,254,0.8);
    --button-text-color: var(--color-text-light);
}
.kSUooD {
    font-size: 13px;
    line-height: 16px;
    margin-left: 4px;
    color: var(--color-text-dark);
}
div#tradingview_16654 {
    height: 100%;
}
.tradingview-widget-container {
    height:100%;
}
div#tv-price-chart{
    height:100%;
}
.sc-irKDMX.bmNa-dt{
    height: 100%;
    width: 100%;
}
.sc-eXuyPJ.kTTKRj{
    height:100%;
    width: 100%;
}
.cwoGFd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-light);
    margin-bottom: 6px;
}
.ckwDLe {
    background-color: var(--color-layer-dark);
    border-radius: 4px;
    padding: 12px;
    display: grid;
    margin-bottom: 14px;
}
.cwoGFd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-light);
    margin-bottom: 6px;
}
.kTTKRj {
    height: 14px;
    width: 14px;
    margin-right: 6px;
}
.fKwyEY {
    margin: -6px -10px -6px auto;
}
.fEDxD {
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text-base);
}
.foZpji {
    color: var(--color-text-dark);
}
.enpFfZ {
    color: var(--color-purple);
    cursor: pointer;
}
.dpItK:disabled {
    cursor: not-allowed;
    --button-background-color: var(--color-layer-lighter);
    --button-active-background-color: var(--color-layer-lighter);
    --button-text-color: var(--color-text-dark);
    --button-active-text-color: var(--color-text-dark);
    --button-hover-filter: none;
}
.dpItK {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    min-height: 40px;
    border-radius: 8px;
    padding: 0px 16px;
    --button-background-color: var(--color-green);
    --button-active-background-color: rgba(63,182,139,0.8);
    --button-text-color: var(--color-text-light);
}
.layout__area--top {
    background-color: #2d2d3d;
    border-bottom: solid 1px #2d2d3d;
}
.krBuaG {
    display: flex;
    flex: 1 1 0%;
    margin-right: 6px;
}
.irzWzB {
    display: grid;
    align-self: center;
    padding-right: 12px;
}
.iIvBHT {
    --animation-speed: 200ms;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-left: 6px;
    flex: 0 1 0%;
    transition: var(--animation-speed) linear;
}
.iIvBHT .sc-dvUynV {
    transition: var(--animation-speed) linear;
}
.joRTNm {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.iIvBHT .sc-jtiXyc {
    transition: var(--animation-speed) linear;
}
.jireel {
    flex: 1 1 0%;
    opacity: 0;
    width: 0px;
}
.iIvBHT .sc-kTCsyW {
    transition: var(--animation-speed) linear;
}
.gxdqsh {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    background-color: var(--color-layer-lighter);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    padding: 0px 10px;
}
.hNoPVl {
    font-family: "Relative Pro";
    font-weight: 500;
    font-feature-settings: "zero" 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--button-background-color,var(--color-layer-lighter));
    color: var(--button-text-color,var(--color-text-base));
    cursor: pointer;
    border: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    min-height: 36px;
    border-radius: 8px;
    padding: 0px 16px;
}
.hsWAsh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-light);
    margin-bottom: 6px;
}
.eSyZIh {
    background-color: var(--color-layer-dark);
    border-radius: 4px;
    padding: 12px;
    display: grid;
    margin-bottom: 14px;
}
.eQUdeu {
    height: 14px;
    width: 14px;
    margin-right: 6px;
}
.zRuTu {
    margin: -6px -10px -6px auto;
}
.cHQuCr {
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text-base);
}
.iNWOJK {
    color: var(--color-text-dark);
}
.eXirsP {
    color: var(--color-purple);
    cursor: pointer;
}
.cCnfTA {
    --animation-speed: 200ms;
    position: relative;
    background-color: var(--color-layer-darker);
    border-radius: 20px;
    cursor: pointer;
    appearance: none;
    transition: all var(--animation-speed) ease-in-out;
    --toggle-distance: 12px;
    height: 18px;
    width: 30px;
}
.cCnfTA::after {
    height: 18px;
    width: 18px;
}
.cCnfTA::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--color-layer-lightest);
    border-radius: 50%;
    transition: all var(--animation-speed) ease-in-out;
    transform: translateX(0px);
}
.cZpxWm .sc-fcmMJX {
    transition: var(--animation-speed) linear;
}
.bRzrLL {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    background-color: var(--color-layer-lighter);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    padding: 0px 10px;
}
.cZpxWm {
    --animation-speed: 200ms;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-left: 6px;
    flex: 0 1 0%;
    transition: var(--animation-speed) linear;
}
.bFgzLZ {
    display: flex;
    flex: 1 1 0%;
    margin-right: 6px;
}
.gQYBcx {
    display: grid;
    align-self: center;
    padding-right: 12px;
}
.hsWAsh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-light);
    margin-bottom: 6px;
}
.cHQuCr {
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text-base);
}
.iNWOJK {
    color: var(--color-text-dark);
}

